@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  background-color: #ffebee; /* Light red background */
  border: 1px solid red;
  border-radius: 4px;
}

select option:hover {
  background-color: #10b981; /* Tailwind green-500 */
  color: white;
}

@layer utilities {
  .animate-spin {
    animation: spin 2s linear infinite;
  }
}

.select-none {
  user-select: none !important;
}

[data-rbd-drag-handle-context-id] {
  touch-action: none;
}

.draggable-ghost {
  opacity: 0.2;
  transform: scale(0.95);
  filter: blur(2px);
}





